
<div class="container">
    <h1>
    Авторизация
    </h1>
<div class="row">
<form action="/auth/login" method="post">
  <div class="mb-9 ">
    <label for="email" class="login">Введите email</label>
    <input type="email" name="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="login">Введите пароль</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
    <p><a href="/auth/reset">Забыли пароль?</a></p>
  <button type="submit" class="btn green">Войти</button>
</form>
</div>
</div>