<h2>Изменение пароля</h2>

<form action="/auth/password" method="post">
    <div class="mb-9 ">
        <input type="hidden" name="token" value="{{token}}">
        <label for="password" class="login">Пароль</label>
        <input type="password" name="password" class="form-control" >
    </div>
    <button type="submit" class="btn green">Изменить</button>
</form>

