* {
    box-sizing: border-box;
    margin: 0;
    left: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    min-height: 800px;
    padding: 39px 0 62px 0;
}

.logo_img {
    display: block;
    margin: 0 auto;
    margin-bottom: 14px;
}

.logo_text {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

h1 {
    margin-top: 53px;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
}

h2.title {
    margin-top: 30px;
}

.header_text {
    margin-top: 23px;
    padding: 13px;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    color: white;
    font-weight: 300;
    line-height: 28px;
}

.header_text span {
    font-style: normal;
    font-weight: bold;
    color: #F9BF3B;
}

.header .header_btn, .present_btn {
    display: block;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin: 73px auto;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.more_text {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin: 0 auto;
}

.more_img {
    display:block;
    margin: 0 auto;
}

.waiting {
    min-height: 604px;
    background: #efefef;
    padding: 85px 0 75px 0;
}

.waiting_title, .finish_header {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .line, .line {
    width: 217px;
    height: 4px;
    margin: 0 auto;
    background: #F9BF3B;
    margin-top: 15px;
}

.subheader {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 15px;
}

.wrapper_waiting {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting_item {
    width: 339px;

}

.item_descr {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 33px;
}
.waiting_img {
    width: 100%;
}

.optimization {
    position: relative;
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization_header {
    padding: 0 0 25px 0;
    margin-left: 391px;
    color: #299cbd;
    font-size: 29px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
}

.optimization_text {

    margin-left: 389px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto - Light";
}

.optimization_text span {
    font-weight: 300;
    font-style: normal;
    font-weight: 700;
}

.optimization_img {
    position: absolute;
    top: 54px;
    left: -60px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/second_bg.jpg') center center/cover no-repeat;
}

.finish_header {
    color: white;
}

.finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish_item {
    width: 204px;
}

.finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish_descr {
    margin-top: 25px;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    text-align: center;

}

.present {
    height: 628px;
    background-color: #efefef;  
    padding: 86px 0 87px 0;
    display: block;
}

.present_img {
    height: 174px;
    display: block;
    margin: 0 auto;
}

.present_text {
    margin-top: 47px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 52px;

}

.and {
    padding: 89px 0 64px 0;
}
 .img_and {
     display: block;
     margin: 0 auto;
     height: 154px;
 }

 .and_title {
     margin-top: 37px;
     color: #252525;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
 }

 .and_title span {
    color: #299cbd;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
 }

.and_text {
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 25px;
}

footer {
    height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
    color: #888888 !important;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.politic, .wrapper_service, .link_service{
    display: inline-block;
    color: #888888;
    

}
.line_vertical {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin-right: 10px;
    margin-left: 5px;

    background: #888888;
}