<div id="login" class="col s6 offset-s3">

    {{#if error}}
    <p class="alert">{{error}}</p>
    {{/if}}

    <h2>Восстановить пароль</h2>
    <form action="/auth/reset" method="post">
        <div class="input-field">
            <input  name="email" type="email" class="validate" required>
            <label for="email">Введите email</label>
            <span class="helper-text" data-error="Некорректный email" ></span>
        </div>
        <button class="btn btn-primary"> Сбросить</button>
    </form>
</div>